<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>

    <!-- Konfiguracja logowania do pliku -->
    <target xsi:type="File" name="logtofile" fileName="logs/${shortdate}/${level}-${date:format=HH\:mm\:ss}.log" layout="${longdate} ${callsite} |${level}| ${message}"/>

    <!-- Konfiguracja logowania do konsoli -->
    <target xsi:type="ColoredConsole" name="logconsole" layout="${longdate} ${callsite} |${level}| ${message}">
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="Gray" />
      <highlight-row condition="level == LogLevel.Info" foregroundColor="White" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
    </target>
    
  </targets>
  <rules>
    <!-- Logowanie do pliku -->
    <logger name="*" minlevel="Info" writeTo="logtofile" />
    <logger name="*" minlevel="Warn" writeTo="logtofile" />
    <logger name="*" minlevel="Error" writeTo="logtofile" />

    <!-- Logowanie do konsoli -->
    <logger name="*" minlevel="Info" maxlevel="Info" writeTo="logconsole" />
    <logger name="*" minlevel="Warn" writeTo="logconsole" />
    <logger name="*" minlevel="Error" writeTo="logconsole" />
  </rules>
</nlog>
